node_modules/
core/dist/
browser/dist/
nodejs/dist/
tests/dist/
webdriver/dist/
commands/dist/

# odd but important to preserve exec privleges 
!nodejs/dist/mod.js
!webdriver/dist/mod.js

*.tsbuildinfo
.DS_Store
browser.local.json
